<%= link_to 'Back', forums_path %>

<% if current_user %>
	<h3><%= link_to 'Create new thread', new_forum_thread_path %></h3>
<% else %>
	<h2>Sign in to make a thread</h2>	
<% end %>	

<div id="description">
	<div id="descriptionInfo">
		<h1><%= @forum.name %></h1>
	</div>
	<div id="descriptionContent">
		<%= @forum.description %>
	</div>	
</div>

<div id="pageArea">
<%= render 'pages' %>
	<%= render 'sort' %>	
</div>
	
<div id="forumThreadsArea">
	<% if @wanted_threads %>
		<% @wanted_threads.each do |thread| %>
			<div class="forumThread">
				<%= link_to thread.name, thread_page_path(thread, 1) %>
				<div class="forumThreadInfo">
					Created by: <%= thread.creator_name %>
					<%= thread.created_at %>
					<span class="info">posts: <%= thread.posts.count %></span>
				</div>		
			</div>		
		<% end %>	
	<% end %>	
</div>