<div id="description">
	<div id="descriptionInfo">
		<small class="info">Created by: <%= @thread.creator_name %> | Started at: <%= @thread.created_at %></small>
		<h2><%= @thread.name %></h2>

	</div>
	<div id="descriptionContent">	
		<p><%= simple_format(@thread.description) %></p>
	</div>
</div>	

<div id="pageArea">
	<%= render 'pageArea' %>
</div>

<div id="postsArea">
	<% @posts.each do |post| %>
		<div class="postInfo">
			<%= post.creator_name %>
		</div>
		<div class="postContent">
			<small class="info">Posted at: <%= post.created_at %></small>
			<!--simple_format translates formating(newlines etc) into browser-readable formating-->
		 	<p><%= simple_format(post.message) %></p>
		 </div>	
	<% end %>	
</div>

<div id="pageArea">
	<%= render 'pageArea' %>
</div>

<% if current_user %>
	<div id="createPostArea">
		<h2>Create post</h2>

		<%= form_for :post, url: create_post_path do |f| %>
			<p>
				<%= f.text_area :message, :rows => "10", style: 'width:99%;' %>
			</p>

			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</div>
<% end %>

<% flash.each do |name, msg| -%>
	<%= content_tag :h2, msg, class: name %>
<% end -%>


