
<%= link_to 'back to threads', forum_threads_path %>

<div id="description">
	<div id="descriptionInfo">
		<small class="info">Created by: <%= @thread.creator_name %> | Started at: <%= @thread.created_at %></small>
		<h2><%= @thread.name %></h2>

	</div>
	<div id="descriptionContent">	
		<p><%= @thread.description %></p>
	</div>
</div>	

<div id="pageArea">
	<%= render 'pageArea' %>
</div>

<div id="postsArea">
	<% @posts.each do |post| %>
		<div class="postInfo">
			<%= post.creator_name %>
		</div>
		<div class="postContent">
			<small class="info">Posted at: <%= post.created_at %></small>
		 	<p><%= post.message %></p>
		 </div>	
	<% end %>	
</div>

<% if @thread.thread_pages.exists?(page_num: params[:page_num].to_i + 1) %>
	bal
<% end %>	

<% if current_user %>
	<h2>Create post</h2>

	<%= form_for :post, url: create_post_path do |f| %>
		<p>
			<%= f.text_area :message, :cols => "40", :rows => "10" %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>
<% end %>

<% flash.each do |name, msg| -%>
	<%= content_tag :h2, msg, class: name %>
<% end -%>


