<!DOCTYPE html>
<html>
  <head>
    <title>MyForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  	Signed in as <%= current_user.name %> | <%= link_to "Log out", '/logout' %>
  <% else %>
  	<%= form_tag '/login' do %>
  		You are not logged in! Log in here.
  		Email: <%= text_field_tag :email %>
  		Password: <%= password_field_tag :password %>
  		<%= submit_tag "Submit" %>
  		<%= @error %>
	<% end %>	
	Don't have an account? Register here:
	<%= link_to 'Register', new_user_path %>
  <% end %>



    <%= yield %>
  </body>
</html>
